# Visual Studio Code
.vscode/
*.code-workspace

# Build artifacts
build/
dist/
out/
*.log

# Dependencies
node_modules/

# conda
env/
.conda/

# Temporary files
*.tmp
*.~
*.bak

# System files
.DS_Store
Thumbs.db

#runtime files
*data.json

# Python Chache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

#.env files
.env
.venv

# ignore data files in project1/data
/project1/data/*
/project1/data/*.json
/project1/data/*.csv
